.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RNA-block, .AA-block, .DNA-block, .input-DNA-edit {
  height: 120px;
  width: 85vw;
  border: 3px solid #00072D;
  border-radius: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: auto;
  background-color: rgba(50, 65, 181, 0.801);
  color: rgb(240, 238, 238);
  text-align: left;
}

.user-Lib-Dis-DNA {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-Lib-Dis-Name, .input-name-edit {
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
  /* background-color: white; */
  color: rgb(1, 10, 58);
  border-top: 2px solid rgb(1, 10, 58);
  border-bottom: 2px solid rgb(1, 10, 58);
  margin-top: 2vh;
}

.titles {
  position: relative;
  right: 37vw;
}
#edit-name-button {
  position: relative;
  left: 1vw;
  bottom: 0.4vh;
  background-color:#303F9F;
  color: white;
  border: none;
  border-radius: 4px;
  height: 25px;
}