#tri-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    right: 0.3vw;
    margin-top: 10px;
}

#mui-theme-provider-outlined-input {
    width: 50vw;
    background-color: #A6E1FA;
}

.userIn {
    margin-top: 18vh;
}