@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');

html {
  overflow-wrap: break-word;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body, html {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/qAgrZII/videoblocks-dna-molecule-in-water-3d-illustration-over-white-plexus-background-hd_ss6vnz0xb_thumbnail-full01.png")
}